N8N_BASIC_AUTH_ACTIVE=true
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=admin

N8N_HOST=localhost
N8N_PORT=5678
N8N_PROTOCOL=http

WEBHOOK_URL=http://localhost:5678/
GENERIC_TIMEZONE=Asia/Bangkok

GENIE_API_KEY=
GENIE_APP_ID=
GENIE_MODEL="gemini-2.5-flash"
GOOGLE_GENAI_API_KEY=
GOOGLE_GENAI_MODEL="gemini-2.5-flash-image"
AWS_S3_BUCKET=
AWS_S3_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
ENABLE_IMAGE_GEN=false
DEFAULT_TTS_MODEL=kokoro
ENABLE_PAID_TTS=false