GENIE_API_KEY=
GENIE_APP_ID=
GENIE_MODEL="gemini-2.5-flash"
GOOGLE_GENAI_API_KEY=
GOOGLE_GENAI_MODEL="gemini-2.5-flash-image"
AWS_S3_BUCKET=
AWS_S3_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
PORT=8080
ENABLE_IMAGE_GEN=false
